<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.hsc.skunkworks"
        android:versionCode="1"
        android:versionName="1.0">
    <uses-sdk android:minSdkVersion="19" />
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />
    <supports-gl-texture android:name="GL_EXT_texture_compression_s3tc" />
    <supports-gl-texture android:name="GL_OES_texture_compression_S3TC" />
    <supports-gl-texture android:name="GL_EXT_texture_compression_dxt5" />
    <supports-gl-texture android:name="GL_ANGLE_texture_compression_dxt5"/>
    <supports-gl-texture android:name="GL_AMD_compressed_ATC_texture" />
    <supports-gl-texture android:name="GL_ATI_texture_compression_atitc" />
    <application android:label="Skunkworks" android:hasCode="false" android:debuggable="true">
        <activity android:name="android.app.NativeActivity"
                android:label="Skunkworks"
                android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
                android:configChanges="orientation|keyboardHidden">
            <meta-data android:name="android.app.lib_name"
                    android:value="Skunkworks" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest> 
